
a.nav-link.active {
  background: $gray-900; 
}

a.tag-btn {
  font-size: 100%;
}

ul.list-group-no-bullets li {
  list-style-type: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 20px;
}

.cart-header-page-title {
  font-family: "Chau Philomene One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: $gray-300 !important;
}

li > h2 > a.recipe-title-link {
  color: $gray-900;
  font-family: "Asap", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.min {
  font-size: $min-size
}
.small {
  font-size: $small-size
}

.medium {
  font-size: $medium-size
}

.gray-3 {
  color: $gray-3
}
.gray-6 {
  color: $gray-6
}
.gray-9 {
  color: $gray-9
}

.uppercase {
  text-transform: uppercase;
}

.no-bullets > ul {
  padding-left: 0;
}
.no-bullets > ul li {
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Asap'
}

.bg-home-lightgray {
  background-color: $gray-400;
}


footer nav.nav a.nav-link:hover,
footer a.nav-link:active {
  color: $white !important;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1)
}

/*
#2A2635*/